.contentsWrap {
  display: flex;
  margin: 16px;
  flex-wrap: wrap;
  @media screen and (max-width: 480px) {
    flex-wrap: nowrap;
    overflow: scroll;
  }
}

.contentsWrap a {
  text-decoration: none;
}

.workCard {
  width: 256px;
  height: 256px;
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  text-align: center;
  transition: transform 280ms ease-out;
  margin: 0 16px 16px 0;
  background: black;
}

.workCard img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
  transition: opacity 350ms ease-out;
}

.workCard img:hover,
.workCard img:focus {
  opacity: 0.4;
}

.workCard:hover {
  transform: scale(0.95);
}

.workTitle {
  opacity: 0;
  color: #ffffff;
  display: block;
  position: absolute;
  width: 100%;
  top: 45%;
}

.workCard:hover .workTitle {
  opacity: 1;
}
