@import "./colors.scss";

@media screen and (max-width: 479px) {
  .contentsWrap {
    margin: 16px;
  }

  .contentsWrap a {
    text-decoration: none;
  }

  .workCard {
    width: 100%;
    height: 80px;
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    margin: 16px 0;
    background: #424242;
    box-shadow: 0px 0px 16px rgba(255, 255, 255, 0.2);
  }

  .workTitle {
    display: block;
    margin-top: 12px;
    margin-left: 92px;
    overflow: hidden;
    font-weight: 700;
    color: $title-color;
  }

  .workCard img {
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    position: absolute;
    max-width: 80px;
    left: 0;
    transform: scale(0.8);
  }
}

@media screen and (min-width: 480px) {
  .contentsWrap {
    display: flex;
    margin: 16px;
    flex-wrap: wrap;
  }

  .contentsWrap a {
    text-decoration: none;
  }

  .workCard {
    width: 128px;
    height: 128px;
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
    transition: transform 280ms ease-out;
    margin: 0 16px 16px 0;
    background: black;
    box-shadow: 0px 0px 16px rgba(255, 255, 255, 0.1);
  }

  .workTitle {
    opacity: 0;
    color: #ffffff;
    display: block;
    position: absolute;
    width: 100%;
    top: 45%;
  }

  .workCard img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    transition: opacity 350ms ease-out;
  }

  .workCard:focus img,
  .workCard:hover img {
    opacity: 0.4;
  }

  .workCard:focus,
  .workCard:hover {
    transform: scale(0.95);
  }

  .workCard:hover .workTitle {
    opacity: 1;
  }
}

.chipsWrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  margin: 12px 10px;
}

.categoryChip {
  margin: 0 8px 12px;
  padding: 4px 18px;
  font-size: medium;
  box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 20px;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 700;
  background: #aaaaaa;
  color: white;
}

.active {
  background: #f78e8a;
}
