@import "../../styles/colors.scss";

.personalContainer {
  margin: 60vh 0 0;
  display: grid;
  grid-template-columns: 160px auto;
  grid-template-rows: 1fr 1fr;
}

.personalContainer h2 {
  margin: auto 0 0;
  font-family: "M PLUS Rounded 1c", sans-serif;
}

.personalContainer img {
  height: 160px;
  grid-row: 1 / 3;
  transform: translateX(-20px);
  border-radius: 80px;
  box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.2);
}

.content {
  padding: 40vh 16px 0;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 400;
  color: $body-color;
}

.content p {
  line-height: 1.6em;
}

.carrier {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto;
}

.carrier p {
  margin: 4px 0;
}

.activityWrap {
  margin-top: 40vh;
}

.activityContainer {
  padding: 12px;
  width: 80%;
  margin-bottom: 16px;
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.2);
}

.activityDate {
  font-size: 0.8em;
  margin: 0 0 4px;
}

.activityRepoName {
  margin: 0 0 4px;
}

.contactIcon {
  color: white;
  vertical-align: middle;
  margin-right: 12px;
}

.contactLink {
  font-size: 18px;
  margin-top: 12px;
}

.contactLink a {
  color: #464646;
}
