.panel {
  display: inline-block;
  width: auto;
  max-width: 375px;
  margin: 0 18px 18px;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 300;
}

.name {
  padding: 4px 12px;
  width: 40%;
  font-size: larger;
  margin: 0 0 0.5em;
  font-weight: 700;
  color: white;
  border-radius: 8px 20px 20px 0;
}

.relation {
  display: inline-block;
  margin-left: 12px;
  color: white;
  font-weight: 700;
}

.description {
  margin: 12px;
  color: white;
}

@media screen and (min-width: 822px) {
  .panel {
    box-shadow: 0 0 8px 4px rgba($color: #ffffff, $alpha: 0.2);
    border-radius: 4px;
  }
}
