.spotLightWrap {
  position: relative;
  overflow: hidden;
  padding-bottom: 40vh;
}

.light {
  pointer-events: none;
  position: absolute;
  width: 0;
  height: 0;
  transform-origin: top center;
  filter: blur(6px) drop-shadow(0 16px 40px rgba(230, 227, 219, 0.4));
}
