.spotLightWrap {
  position: relative;
  overflow: hidden;
  padding-bottom: 40vh;
}

.light {
  pointer-events: none;
  position: absolute;
  width: 0;
  height: 0;
  transform-origin: top center;
  border-bottom: 140vw solid rgba(241, 240, 129, 0.4);
  filter: blur(6px) drop-shadow(0 16px 40px rgba(241, 240, 129, 0.4));
}
