.titleWrap {
  margin: 40px 20px 20px;
  padding-bottom: 4px;
  border-bottom: solid 1px #c1cafa;
}

.titleWrap h2 {
  display: inline;
}

.titleWrap h3 {
  display: inline;
  margin-left: 12px;
}

.panelsWrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}
@media screen and (max-width: 900px) {
  .panelsWrap {
    justify-content: center;
  }
}

.chipsWrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  margin: 0 10px;
}

.skillChip {
  padding: 4px 18px;
  font-size: larger;
  box-shadow: 0 0 8px 4px rgba($color: #ffffff, $alpha: 0.2);
  border-radius: 20px;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 400;
  color: white;
  margin: 0 8px 18px;
}
