.topWrapper {
  width: 100%;
  height: 100vh;
  background: #424242;
}

.topWrapper p {
  text-align: right;
  font-family: "M PLUS 1p", "Franklin Gothic Medium", sans-serif;
  font-weight: 700;
  color: white;
  transform: skewY(-8deg);
}

.quote {
  font-size: 3vw;
  padding: 40vh 4vw 0;
}

.author {
  font-size: 2.8vw;
  padding: 0 4vw;
  line-height: 5vh;
}

.personWrapper {
  width: 100%;
  height: 80vh;
  padding-top: 20vh;
}

.twitter {
  color: #1da1f2;
  vertical-align: middle;
}

.mail {
  color: #464646;
  vertical-align: middle;
}

.personWrapper h2 {
  margin-left: 24px;
  font-family: "M PLUS Rounded 1c", sans-serif;
}

.personWrapper section {
  margin: 24px;
}

.personWrapper span {
  font-size: 18px;
  margin-left: 12px;
}

.menu {
  width: 100%;
  height: 100%;
}

.menu.opened {
  transform: translateX(0%);
  background: linear-gradient(
    40deg,
    rgba(167, 238, 189, 0.92) 0%,
    rgba(25, 226, 185, 0.92) 51%,
    rgba(46, 124, 221, 0.92) 100%
  );
}

.menuList {
  list-style: none;
  padding-top: 56px;
  padding: 0;
}

.navigation {
  display: block;
  text-decoration: none;
  font-size: 60px;
  font-family: "M PLUS 1p", "Franklin Gothic Medium", sans-serif;
  font-weight: 700;
  color: white;
  margin: 48px 32px;
  transform: skewY(-8deg);
  transition: all 500ms ease-in;
  opacity: 0;
}

.ruby {
  font-size: 24px;
  font-family: "M PLUS 1p", "Franklin Gothic Medium", sans-serif;
  font-weight: 400;
  color: white;
}
