.wrap {
  margin: 0;
  padding-top: 24px;
}

.avatar {
  height: 20vh;
  max-height: 160px;
  max-width: 160px;
  border-radius: 50px;
  margin: 72px auto;
}

.avatar img {
  width: 100%;
  border-radius: 160px;
  filter: drop-shadow(0 8px 0.75rem rgba(0, 0, 0, 0.6));
}

.name {
  margin: 0;
  color: #ffffff;
  text-align: center;
}

.flexContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.spacer {
  min-width: 32px;
}
