.titleWrap {
  margin: 40px 20px 20px;
  padding-bottom: 4px;
  border-bottom: solid 1px rgb(212, 212, 212);
}

.titleWrap h2 {
  display: inline;
}

.titleWrap h3 {
  display: inline;
  margin-left: 12px;
}

.skillsWrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;

  @media screen and (max-width: 900px) {
    justify-content: center;
  }
}
