.skillContent {
  margin: 0 20px;
}

.titleWrap {
  margin: 40px 0 20px;
  padding-bottom: 4px;
  border-bottom: solid 1px rgb(212, 212, 212);
}

.titleWrap h2 {
  display: inline;
}

.titleWrap h3 {
  display: inline;
  margin-left: 12px;
}
